{{ define "main" }}
<div class="container">

  {{ .Render "section-header" }}

  <div id="posts">
    {{ $paginator := .Paginator }}
    {{ range $paginator.Pages }}
      <article>
        {{ .Render "summary" }}
      </article>
    {{ end }}

    {{ if .Site.Params.pagination.loader }}
      {{ if $paginator.HasNext }}
      <div id="loader" class="row mb-5">
        <div class="col text-center">
          <button type="button" class="btn btn-dark"
                  onclick="loaderHandler({{ .Permalink }},{{ add 1 $paginator.PageNumber }})">
            <span>{{ T "load_more" }}</span>
            <span class="visually-hidden">{{ T "loading" }}</span>
            <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      {{ end }}
    {{ else }}
    <div class="row">
      <div class="col">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
    {{ end }}
  </div>

</div>
{{ end }}
