<!-- Vendor JS -->
<script src="{{ .Site.BaseURL }}vendor/aos/aos.js"></script>
<script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/glightbox/js/glightbox.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/php-email-form/validate.js"></script>
<script src="{{ .Site.BaseURL }}vendor/swiper/swiper-bundle.min.js"></script>

<!-- Theme Scripts -->
{{ $js := resources.Match "js/**.js" | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
