<section id="get-started" class="padd-section text-center">

  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">

      {{ with .Site.GetPage "page" "getstarted" }}
      <h2>{{ .Title }}</h2>
      <p class="separator">{{ .Description }}</p>
      {{ end }}

    </div>
  </div>

  <div class="container">
    <div class="row">

      {{ range (where .Site.RegularPages "Section" "getstarted") }}
      <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="feature-block">
          <img src="{{ .Params.icon | relURL }}" alt="img">
          <h4>{{ .Title }}</h4>
          <p>{{ .Description }}</p>
          <a href="{{ .Permalink }}">{{ T "read_more" }}</a>
        </div>
      </div>
      {{ end }}

    </div>
  </div>

</section>
