<section id="screenshots" class="padd-section text-center">

  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">
      <h2>{{ T "screenshots_title" }}</h2>
      <p class="separator">{{ T "screenshots_description" }}</p>
    </div>

    <div class="screens-slider swiper-container">
      <div class="swiper-wrapper align-items-center">
        {{ range .Site.Data.screenshots }}
        <div class="swiper-slide"><img src="{{ . }}" class="img-fluid" alt=""></div>
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</section>
